@import url('https://fonts.googleapis.com/css?family=Raleway');
html, body {
	width: 100%;
	height: 100%;
}
body {
	height: 100%;
	background: rgb(150, 140, 190) url(../img/background.jpg) no-repeat no-repeat top left;
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	text-align: center;
	overflow: hidden;
	font-family: 'Raleway', cursive;
}
section {
	opacity: 0.0;
	width: 100%;
	height: 100%;
	background: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: default;
	transition: all 1.0s ease-out;
}
p {
	position: absolute;
	top: 35px;
	right: -15px; 
	transform: rotate(90deg);
	color: #666;
	text-transform: uppercase;
}
#col-lg-6 {
	margin: 0;
	padding: 0;
	background: linear-gradient(-90deg, rgba(10, 10, 10, 0.35), rgba(0,0,0,0)) rgba(20, 20, 20, 0.30);
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
}
@media (max-width: 900px) {
    body {
        background: rgb(150, 140, 190);
        overflow: scroll;
    }
    .mobile-background {
    	transition: background 0.5s ease;
        width: 100%;
        height: 100%;
        background: url("../img/background.jpg") no-repeat no-repeat top left;
        background-size: cover;
        position: fixed;
        z-index: -2;
    }

    .mobile-background .overlay-darkness {
    	width: 100%;
    	height: 100%;
    	background: rgba(20,20,20,0.3);
    }

    #col-lg-6 {
        background: transparent;
    }
}
h1, h2, h3, h4, h5, h6 {
	color: #222;
	margin: 0;
	margin-left: 20px;
}
h1 {
	font-weight: bolder;
	margin-top: 2rem;
	font-size: 8rem;
}
h2 {
	font-size: 5.75rem;
}
h3 {
	margin-top: 30px;
	margin-bottom: 30px;
	color: #fff;
	font-size: 4rem;
}
h4 {
	margin-top: 20px;
	margin-bottom: 50px;
	font-size: 3.75rem;
}
h5 {
	font-size: 2.5rem;
}
@media screen and (max-width: 900px){
	#col-lg-6 {
		height: auto;
	}
	h5 {
		padding-bottom: 4rem;
	}
}
h6 {
	font-size: 2rem;
}
span {
	color: #eee;
	font-size: 7.5rem;
}
b {
	animation:  colored 1.5s linear infinite;
	animation-play-state: running;
}
h1:hover b {
	animation-play-state: paused;
}
a {
	text-decoration: none;
	color: #333;
}
a:hover, a:active, a:focus {
	text-decoration: none;
	border-bottom: 1.775px dotted #333;
	color: #eee;
}
@media (max-width: 900px){
	#col-lg-6 {
		width: 100%;
	}
}
@media (max-width: 1200px){
	h1 {
		font-size: 5rem;
	}
	h2 {
		font-size: 4.2rem;
	}
	h3 {
		font-size: 2.6rem;
	}
	h4 {
		font-size: 2.2rem;
	}
	h5 {
		font-size: 1.9rem;
	}
	h6 {
		font-size: 1.8rem;
	}
}
@media (min-width: 2200px){
	h1 {
		margin-top: 12rem;
		font-size: 12rem;
	}
	h2 {
		font-size: 10rem;
	}
	h3 {
		font-size: 8rem;
	}
	h4 {
		font-size: 6rem;
	}
	h5 {
		font-size: 4.5rem;
	}
	h6 {
		font-size: 3rem;
	}
}
.loader {
	transition: all 1.5s ease;
}
.circle1 {
	transition: all 3.5s ease;
}
.loader {
	width: 420px;
	height: 420px;
	background: rgba(25,25,25,0.25);
	position: absolute;
	top: -210px;
	left: -210px;
	transform: rotate(-45deg);
	z-index: 1;
}
.circle1 {
	width: 150px;
	height: 150px;
	background: rgba(20,20,20,0.40);
	position: absolute;
	top: 10px;
	left: 10px;
	border-radius: 50%;
	z-index: 2;
	overflow: hidden;
	animation: rotated 2.0s linear infinite;
}
.circle2, .circle3, .circle4, .circle5, .circle6 {
	width: 150px;
	height: 150px;
	background: rgba(180, 180, 180, 0.75);
	border-radius: 50%;
	animation-name: scaled;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.circle3, .circle4, .circle5, .circle6 {
	position: absolute;
}
.circle3 {
	top: -75px;
}
.circle4 {
	right: -75px;
	top: 0;
}
.circle5 {
	bottom: -75px;
}
.circle6 {
	left: -75px;
	top: 0;
}
.load-complete {
	top: -430px;
	left: -430px;
}
@keyframes scaled {
	0% {
		transform: scale(0.0);
		opacity: 0.0;
	}
	80% {
		transform: scale(1.0);
		opacity: 1.0;
	}
	100% {
		transform: scale(0.0);
		opacity: 0.0;
	}
}
@keyframes rotated {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes colored {
	0%, 70%, 100% {
		color: #333;
	}
	20% {
		color: #eee;
	}
}
